<div class="p-3 m-2">
  <div>nom : <%= @restaurant.name %></div>
  <div>adresse : <%= @restaurant.address %></div>
  <div>numero de telephone : <%= @restaurant.phone_number %></div>
  <div>categorie : <%= @restaurant.category %></div>
  <div><%= link_to "+ ajouter un commentaire", new_restaurant_review_path(@restaurant) %></div>
</div>
